/* Signup.css */

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.signup-container {
 
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.signup-card {
   background: rgba(255, 255, 255, 0.15);
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 400px;
}

.signup-title {
  text-align: center;
  margin-bottom: 20px;
  color: white;
}

.error-text {
  color: red;
  text-align: center;
  margin-bottom: 15px;
}

.signup-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 15px;
  width:100%;
}
.select-role{
  width: 100%;   /* Or any size like 100% */
  padding: 10px; 
}
label {
  margin-bottom: 5px;
  font-weight: bold;
}

input {
  width:100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

input:focus {
  border-color: #007bff;
  outline: none;
}

.signup-btn {
  background-color: white;
  color: black;
  border: none;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.signup-btn:hover {
  background-color: #0056b3;
}

.login-text {
  text-align: center;
  margin-top: 15px;
}

.login-link {
  color: white;
  text-decoration: none;
}

.login-link:hover {
  text-decoration: underline;
}
